$yellow:#e6e000;

@mixin margenes($top, $bottom){
	margin-top: $top;
	margin-bottom: $bottom;
}

.jumbotron{

	background-color: $yellow;
	color: black;
	@include margenes(50px, 0px);
}

footer{
	padding: 15px 15px 0 15px;
	background-color: $yellow;
	margin-bottom: 0px;
	@include margenes(10px, 0px);
}

.card-productos{
	flex: 1 200px;
	/*padding: 2px 0px 2px 0px;*/
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	@include margenes(10px, 10px);
}

.btn-reserva{
	width: 100%;
	border-radius: 0;
}

.footer-address-icon {

	padding-right: 10px;

}
.tab-content{
	padding-top: 10px;
}