.jumbotron {
  background-color: #e6ed18;
  color: black;
  margin-top: 50px;
  margin-bottom: 0px; }

footer {
  padding: 15px 15px 0 15px;
  background-color: #e6ed18;
  margin-bottom: 0px;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-productos {
  flex: 1 200px;
  /*padding: 2px 0px 2px 0px;*/
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px; }

.btn-reserva {
  width: 100%;
  border-radius: 0; }

.footer-address-icon {
  padding-right: 10px; }

.tab-content {
  padding-top: 10px; }
